<%- include("./partials/head") %>

<div>
    <h3>Error 404</h3>
    <p>The web page you are looking for either does not exist or has been moved to a different location</p>
    <br>
</div>

<%- include("./partials/foot") %>