<%- include('./partials/head') %>

<div class='homes'>
    <h3><a class='home' id="programming" href = '/programming'> Programming </a></h3>
    <h3><a class='home' id="interview" href = '/interviews'> Interview Experience</a></h3>
    <br>
</div>

<%- include('./partials/foot') %> 